:root {
    --map-width: 1250px;
    --map-height: 2100px;
}

body {
    font-family: Gudea, sans-serif;
    margin: 25px;
    background-color: #3c91d055;
    background-color: white;
    font-size: 0.5em;
}

#wrapper {
    width: var(--map-width);
    /* height: var(--map-height); */
    border: solid 5px #3c91d0aa;
    /* background-color: rgba(76, 76, 107, 1); */
    position: relative;
    overflow: hidden;
    background-color: #cfe2f466;
    box-sizing: content-box;
}

#logo {
    opacity: .15;
    filter: invert(0.5);
    width: 400px;
    position: absolute;
    transform: rotate(-45deg);
    left: -135px;
    top: -135px;
    z-index: 20;
    background-blend-mode: screen;
}

/************************************************************************************************
 * Languages
 */
body[lang="en"] *[lang="pl"] { display: none } /* hide Polish when in English mode */
body[lang="pl"] *[lang="en"] { display: none } /* and vice-versa */

/************************************************************************************************
 * Maps styling
 */
#map {
    /* position: absolute;
    z-index: 10;
    top: 0;
    left: 0; */
    width: var(--map-width);
    height: var(--map-height);
    /* background-color: #cfe2f466; */
    background-color: inherit;
    filter: sepia(0.15);
}

.leaflet-paper-pane {
    background-image: url(paper.jpg);
    /* background-image: url(paper-beige.jpg); */
    background-blend-mode:  soft-light;
    filter: saturate(1.5) grayscale(.9);
    width: var(--map-width);
    height: var(--map-height);
    opacity: 0.4;
}

/* foreground */
#toner-lite {
    /* display: none; */
    filter: sepia(0.5) opacity(0.3) invert(0.95);
}

/* background */
#watercolor {
    /* display: none; */
    opacity: 0.8;
    filter: saturate(1.5) sepia(0.1) grayscale(0.1) contrast(1.15) hue-rotate(192deg);
}

#cartodb {
    opacity: 0.6;
    filter: saturate(1.2) contrast(1.1) hue-rotate(190deg);
}

/* .leaflet-map-pane {
    filter: sepia(.4);
} */

/************************************************************************************************
 * Markers / dots
 */

.marker {
    --marker-size: 16px;
    opacity: 0.9;
    content: ' ';
    display: inline-block;
    width: var(--marker-size);
    height: var(--marker-size);
    border-radius: var(--marker-size);
    outline: solid 2px #ffffffee;
    /* filter: sepia(0.2); */
}

/* https://colorbrewer2.org/#type=diverging&scheme=RdYlGn&n=10 */
.marker.green  { background-color: #1a9850 }
.marker.blue   { background-color: #4575b4 } /* https://colorbrewer2.org/#type=diverging&scheme=RdYlBu&n=10 */
.marker.yellow { background-color: #fee08b }
.marker.red    { background-color: #d73027 }
/* 
#map .marker.green {
    width: 24px;
    height: 24px;
    opacity: 0.75;
}

#map .marker.yellow {
    width: 24px;
    height: 24px;
    outline: solid 2px #fee08b66;
 } */

/************************************************************************************************
 * Copyrights
 */
#map.leaflet-container .leaflet-control-attribution {
    font-size: 1.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    color: #666;
    background-color: #ffffff77;
    backdrop-filter: blur(50px);

    padding: 0.5em 1em;
    max-width: 55%;
    line-height: 1.75em;
    text-align: right;
    /* transform-origin: right top;
    transform: rotate(90deg);

    position: relative;
    top: 65px; */
}

#map.leaflet-container .leaflet-control-attribution a {
    color: #666;
    border-bottom: solid 1px #666a;
}

/* https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
/* .leaflet-countour-pane svg {
    filter: drop-shadow(0px 0px 20px #eee);
    filter: drop-shadow(0px 0px 10px #fff);
} */

.leaflet-countour-fg-pane svg {
    /* filter: drop-shadow(0px 0px 20px #eee); */
    filter: drop-shadow(0px 0px 150px #3c91d0cc);
}

#map .leaflet-control {
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin: 50px;
    text-align: center;
}

#map .leaflet-control-scale-line {
    background-color: transparent;
    border: none;
    border-bottom: solid #3c91d0cc 5px;
    color: #3c91d0ee;
}

/************************************************************************************************
 * Legends
 */
#overlay {
    font-family: Gudea, sans-serif;
    position: absolute;
    z-index: 20;
    padding: 50px 25px;
    width: calc(var(--map-width) - 50px);
    height: calc(var(--map-height) - 100px);
    /* width: var(--map-width);
    height: var(--map-height);
    box-sizing: content-box; */


    background-image: linear-gradient(360deg, transparent 0%, transparent 75%, #dee9f3 92% );
}

#overlay h1, #overlay h2 {
    margin: 0;
    padding: 0.25em 0.25em;
    letter-spacing: -0.05em;
    font-weight: bold;
}

#overlay h1 {
    font-size: 12em;
    color: #3c91d0cc;
    border-bottom: double 6px #3c91d066;
    text-align: center;
}

#overlay h2 {
    padding-top: 1em;
    font-size: 4.5em;
    color: #173953cc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
}

legend {
    position: absolute;
    margin: 25px;
    bottom: 25px;
    background-color: #fff7;
    box-shadow: #fff 0px 0px 250px 0;
    border: solid 1px #3c91d055;
    border-top: solid 5px #3c91d0;
    padding: 20px;
    width: 35%;
    backdrop-filter: blur(15px);
}

legend ul {
    font-family: 'Gudea', sans-serif;
    list-style: none;
    line-height: 2.5em;
    font-size: 3em;
    letter-spacing: -.025em;
    font-weight: bold;
    margin: 0.25em 1em;
    padding: 0;
}

legend ul li:not(:first-child) {
    border-top: solid 1px #3c91d055;
}

legend p+ul {
    /* border-top: double 8px #3c91d0aa; */
    margin-top: 1em;
    padding-top: 1.58em;
}

legend .marker {
    margin-right: var(--marker-size);
    vertical-align: middle;
}

legend p {
    font-family: Lora, serif;
    font-size: 3.5em;
    margin: 0.5em 1em;
    letter-spacing: -1px;
    line-height: 1.5em;
}

legend li .tally {
    font-family: Lora, serif;
    float: right;
    font-weight: normal;
    font-size: 1.2em;
}

/************************************************************************************************
 * Labels
 */
#overlay label {
    color: #3c91d0aa;
    text-shadow: 0 0 5px #fff;
}

label#atlantic-ocean {
    font-size: 5em;
    font-style: italic;

    width: 180px;
    text-align: center;
    display: inline-block;

    position: absolute;
    right: 175px;
    top: 70%;
}

/************************************************************************************************
 * Info section
 */
section.info {
    display: flex;
    border-top: solid 2px #3c91d033;
    background-color: #fffc;
}

section.info div {
    padding: 25px 50px;
    flex: 0 0 calc(calc(60%) - 100px);
}

section.info div:nth-child(2) {
    text-align: right;
    vertical-align: middle;
    background-color: #3c91d011;
    border-left: solid 2px #3c91d033;

    flex: 0 0 calc(calc(40%) - 100px);
}

img.cc {
    opacity: 0.5;
}

section.info p {
    margin: .5em 0;
    font-size: 2.2em;
    letter-spacing: -.025em;
    line-height: 1.5em;
}