:root {
    --map-width: 2200px;
    --map-height: 3750px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 15px;
    /* background-color: #3c91d055; */
    background-color: white;
    width: var(--map-width);
    height: var(--map-height);
}

#wrapper {
    width: var(--map-width);
    height: var(--map-height);
    border: solid 5px #3c91d0aa;
    background-color: rgba(76, 76, 107, 1);
    position: relative;
}

/************************************************************************************************
 * Maps styling
 */
#map {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: var(--map-width);
    height: var(--map-height);
    background-color: #3c91d0;
}

/* foreground */
#toner-lite {
    /* display: none; */
    filter: sepia(0.5) opacity(0.55) invert(0.95);
}

/* background */
#watercolor {
    /* display: none; */
    opacity: 0.9;
    filter: saturate(2.5) sepia(0.3) grayscale(0.4) contrast(1.05) hue-rotate(186deg);
}

.leaflet-tile-pane {
    /* filter: saturate(1.5) brightness(0.95) sepia(0.25) contrast(1.05); */
}

/************************************************************************************************
 * Markers / dots
 */

.marker {
    --marker-size: 36px;
    content: ' ';
    display: inline-block;
    width: var(--marker-size);
    height: var(--marker-size);
    border-radius: var(--marker-size);
    outline: solid 6px #ffffffcc;
    filter: sepia(0.2) brightness(0.9);
}

/* https://colorbrewer2.org/#type=diverging&scheme=Spectral&n=10 */
.marker.green  { background-color: #abdda4; }
.marker.blue   { background-color: #3288bd; }
.marker.yellow { background-color: #fee08b; }

/************************************************************************************************
 * Copyrights
 */
#map.leaflet-container .leaflet-control-attribution {
    font-size: 2.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    color: #666;
    background-color: #ffffff77;
    backdrop-filter: blur(50px);

    padding: 0.25em 0.5em;
    transform-origin: right top;
    transform: rotate(90deg);

    position: relative;
    top: 65px;
}

#map.leaflet-container .leaflet-control-attribution a {
    color: #666;
    border-bottom: solid 1px #666a;
}

/************************************************************************************************
 * Legends
 */
#overlay {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    z-index: 20;
    padding: 100px 150px;
    font-size: 6em;
    width: calc(calc(100%) - 300px);

    background-image: linear-gradient(360deg, transparent 0%, #ffffff77 50% );
}

#overlay h1, #overlay h2 {
    margin: 0;
    padding: 0.25em 0.25em;
    letter-spacing: -10px;
    font-weight: bold;
}

#overlay h1 {
    color: #3c91d0cc;
    border-bottom: double 12px #3c91d066;
    text-align: center;
}

#overlay h2 {
    letter-spacing: -5px;
    padding-top: 0.75em;
    font-size: 1em;
    color: #173953aa;
    text-align: center;
}

legend {
    position: absolute;
    z-index: 20;
    margin: 100px;
    bottom: 0;
    background-color: #fff7;
    box-shadow: #fff 0px 0px 250px 0;
    border: solid 1px #3c91d055;
    border-top: solid 10px #3c91d0;
    padding: 20px;
    width: 750px;
    backdrop-filter: blur(15px);
}

legend ul {
    list-style: none;
    line-height: 2.5em;
    font-size: 3em;
    font-weight: bold;
    margin: 0.25em 1em;
    padding: 0;
}

legend ul li:not(:first-child) {
    border-top: solid 1px #3c91d055;
}

legend p+ul {
    /* border-top: double 8px #3c91d0aa; */
    margin-top: 1em;
    padding-top: 1.58em;
}

legend .marker {
    margin-right: var(--marker-size);
    vertical-align: middle;
}

legend p {
    font-family: Lora, serif;
    font-size: 2.75em;
    margin: 0.5em 1em;
    letter-spacing: -1px;
    line-height: 1.5em;
}
