:root {
    --map-width: 1250px;
    --map-height: 2000px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 25px;
    /* background-color: #3c91d055; */
    background-color: white;
    width: var(--map-width);
    height: var(--map-height);
    font-size: 0.5em;
}

#wrapper {
    width: var(--map-width);
    height: var(--map-height);
    border: solid 3px #3c91d0aa;
    background-color: rgba(76, 76, 107, 1);
    position: relative;
}

/************************************************************************************************
 * Maps styling
 */
#map {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: var(--map-width);
    height: var(--map-height);
    background-color: #3c91d0;
}

/* foreground */
#toner-lite {
    /* display: none; */
    filter: sepia(0.5) opacity(0.3) invert(0.95);
}

/* background */
#watercolor {
    /* display: none; */
    filter: saturate(4) sepia(0.35) grayscale(0.3) contrast(1.15) hue-rotate(188deg);
}

#cartodb {
    opacity: 0.6;
    filter: saturate(1.2) contrast(1.1) hue-rotate(190deg);
}

#map-overlay {
    display: none;
    /* backdrop-filter: sepia(90%); */
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    position: absolute;
    opacity: 0.2;
}

.leaflet-map-pane {
    filter: sepia(.1);
}

/************************************************************************************************
 * Markers / dots
 */

.marker {
    --marker-size: 16px;
    opacity: 0.8;
    content: ' ';
    display: inline-block;
    width: var(--marker-size);
    height: var(--marker-size);
    border-radius: var(--marker-size);
    outline: solid 2px #ffffffee;
    /* filter: sepia(0.2); */
}

/* https://colorbrewer2.org/#type=diverging&scheme=Spectral&n=10 */
.marker.green  { background-color: #abdda4; }
.marker.blue   { background-color: #3288bd; }
.marker.yellow { background-color: #fee08b; }

#map .marker.green {
    width: 24px;
    height: 24px;
    opacity: 0.75;
}

#map .marker.yellow {
    width: 24px;
    height: 24px;
    outline: solid 2px #fee08b66;
 }

/************************************************************************************************
 * Copyrights
 */
#map.leaflet-container .leaflet-control-attribution {
    font-size: 1.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    color: #666;
    background-color: #ffffff77;
    backdrop-filter: blur(50px);

    padding: 0.5em 1em;
    max-width: 55%;
    line-height: 1.75em;
    text-align: right;
    /* transform-origin: right top;
    transform: rotate(90deg);

    position: relative;
    top: 65px; */
}

#map.leaflet-container .leaflet-control-attribution a {
    color: #666;
    border-bottom: solid 1px #666a;
}

/************************************************************************************************
 * Legends
 */
#overlay {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    z-index: 20;
    padding: 25px 25px;
    width: calc(calc(100%) - 50px);

    background-image: linear-gradient(360deg, transparent 0%, #ffffff77 50% );
}

#overlay h1, #overlay h2 {
    margin: 0;
    padding: 0.25em 0.25em;
    letter-spacing: -0.085em;
    font-weight: bold;
}

#overlay h1 {
    font-size: 11em;
    color: #3c91d0cc;
    border-bottom: double 6px #3c91d066;
    text-align: center;
}

#overlay h2 {
    padding-top: 0.75em;
    font-size: 7em;
    color: #173953aa;
    text-align: center;
}

legend {
    position: absolute;
    z-index: 20;
    margin: 25px;
    bottom: 0;
    background-color: #fff7;
    box-shadow: #fff 0px 0px 250px 0;
    border: solid 1px #3c91d055;
    border-top: solid 5px #3c91d0;
    padding: 20px;
    width: 35%;
    backdrop-filter: blur(15px);
}

legend ul {
    list-style: none;
    line-height: 2.5em;
    font-size: 3em;
    font-weight: bold;
    margin: 0.25em 1em;
    padding: 0;
}

legend ul li:not(:first-child) {
    border-top: solid 1px #3c91d055;
}

legend p+ul {
    /* border-top: double 8px #3c91d0aa; */
    margin-top: 1em;
    padding-top: 1.58em;
}

legend .marker {
    margin-right: var(--marker-size);
    vertical-align: middle;
}

legend p {
    font-family: Lora, serif;
    font-size: 3.5em;
    margin: 0.5em 1em;
    letter-spacing: -1px;
    line-height: 1.5em;
}

legend li .tally {
    font-family: Lora, serif;
    float: right;
    font-weight: normal;
    font-size: 1.2em;
}